.img-size {
    width: 65.3%;
    height: 100%;
}


/* Estilos para submenús */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.logo {
    width: 50px;
    height: 70px;
    object-fit: cover;
}

.breadcrumb {
    margin-top: 40px;
    margin-left: 110px;
}