.carousel-item img {
    width: 100%;
    height: 500px;
    /* Ajusta la altura según tus necesidades */
    object-fit: cover;
}


/* Estilos para submenús */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


/* Estilo personalizado para la imagen */

.custom-img {
    width: 40vw;
    /* 40% del ancho de la ventana */
    height: auto;
    /* Mantener la proporción de aspecto */
    max-width: 100%;
    /* Para evitar que la imagen se desborde en pantallas pequeñas */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
    display: block;
    /* Asegurar que la imagen sea un bloque */
}

.breadcrumb {
    margin-top: 40px;
    margin-left: 110px;
}

.img-size {
    width: 100%;
    height: 300px;
}